<% include partials/header %>

<h1>Welcome to the Campgrounds Page</h1>

<% campgrounds.forEach((e) => { %>
   <div>
      <h4> <%= e.name %> </h4>
      <img src=" <%= e.image %> ">
   </div>
<% }) %>

<% include partials/footer %>