<% include partials/header %>

<h1>You are on the YelpCamp Landing Page</h1>

<p>Welcome to YelpCamp!</p>

<a href="/campgrounds"><button>View Campgrounds</button></a>

<a href="/campgrounds/new"><button>Add New Campground</button></a>

<% include partials/footer %>